# FORMATOS DE ARCHIVOS E IMPORTACIÓN DE DATOS

## Importar la librería

In [2]:
import pandas as pd

## Estructuras básicas

### Series

In [3]:
s = pd.Series([1, 3, 5, 7, 9])

### DataFrame

In [4]:
data = {'Nombre': ['Ana', 'Luis', 'Carlos'],
        'Edad': [23, 30, 25],
        'Ciudad': ['CDMX', 'Monterrey', 'Guadalajara']
}
df = pd.DataFrame(data)
df

   Nombre  Edad       Ciudad
0     Ana    23         CDMX
1    Luis    30    Monterrey
2  Carlos    25  Guadalajara

## Leer y escribir archivos

### Leer archivos

In [5]:
df = pd.read_csv("Mobiles_Dataset_(2025).csv", encoding="unicode_escape")  # Leer un CSV
# df = pd.read_excel("archivo.xlsx")  # Leer un Excel
# df = pd.read_json("archivo.json")  # Leer un JSON

### Guardar archivos

In [6]:
# df.to_csv("archivo_nuevo.csv", index=False)
# df.to_excel("archivo_nuevo.xlsx", index=False)

## Inspeccionar el DataFrame

In [7]:
df.head()  # Muestra las primeras 5 filas
df.tail()  # Muestra las últimas 5 filas
df.info()  # Información general del DataFrame
df.describe()  # Estadísticas descriptivas
df.shape  # Tamaño del DataFrame (filas, columnas)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Name               930 non-null    object
 1   Model Name                 930 non-null    object
 2   Mobile Weight              930 non-null    object
 3   RAM                        930 non-null    object
 4   Front Camera               930 non-null    object
 5   Back Camera                930 non-null    object
 6   Processor                  930 non-null    object
 7   Battery Capacity           930 non-null    object
 8   Screen Size                930 non-null    object
 9   Launched Price (Pakistan)  930 non-null    object
 10  Launched Price (India)     930 non-null    object
 11  Launched Price (China)     930 non-null    object
 12  Launched Price (USA)       930 non-null    object
 13  Launched Price (Dubai)     930 non-null    object
 14  Launched Year              930 non-null    int64
dtypes: int64(1), object(14)
memory usage: 109.1+ KB

(930, 15)

## Selección de datos

### Seleccionar columnas

In [8]:
df["Company Name"]  # Selecciona una columna
df[["Company Name", "Model Name","Launched Price (USA)"]]  # Selecciona múltiples columnas

    Company Name            Model Name Launched Price (USA)
0          Apple       iPhone 16 128GB              USD 799
1          Apple       iPhone 16 256GB              USD 849
2          Apple       iPhone 16 512GB              USD 899
3          Apple  iPhone 16 Plus 128GB              USD 899
4          Apple  iPhone 16 Plus 256GB              USD 949
..           ...                   ...                  ...
925         Poco          Pad 5G 128GB              USD 280
926         Poco          Pad 5G 256GB              USD 300
927      Samsung  Galaxy Z Fold6 256GB            USD 1,899
928      Samsung  Galaxy Z Fold6 512GB             USD 1719
929      Samsung    Galaxy Z Fold6 1TB            USD 2,259

[930 rows x 3 columns]

### Seleccionar filas

In [9]:
df.iloc[0]  # Primera fila (index basado en posición)
df.loc[0]   # Primera fila (index basado en etiquetas)

Company Name                           Apple
Model Name                   iPhone 16 128GB
Mobile Weight                           174g
RAM                                      6GB
Front Camera                            12MP
Back Camera                             48MP
Processor                         A17 Bionic
Battery Capacity                    3,600mAh
Screen Size                       6.1 inches
Launched Price (Pakistan)        PKR 224,999
Launched Price (India)            INR 79,999
Launched Price (China)             CNY 5,799
Launched Price (USA)                 USD 799
Launched Price (Dubai)             AED 2,799
Launched Year                           2024
Name: 0, dtype: object

### Filtrado de datos

In [34]:
df[df["Screen Size"] == '6.7 inches']  # Filtrar por tamaño de pantalla

np.int64(124)

## Modificar datos

### Añadir una nueva columna

In [11]:
df["cost"] = 300  # Añadir un valor constante a todas las filas

### Eliminar columnas o filas

In [12]:
df.drop(columns=["cost"], inplace=True)  # Eliminar columna
df.drop(index=0, inplace=True)  # Eliminar primera fila

### Renombrar columnas

In [13]:
df.rename(columns={"Company Name": "Compañia"}, inplace=True)
df["Compañia"]

1        Apple
2        Apple
3        Apple
4        Apple
5        Apple
        ...
925       Poco
926       Poco
927    Samsung
928    Samsung
929    Samsung
Name: Compañia, Length: 929, dtype: object

## Manejo de valores nulos

In [14]:
print(df.isnull().sum())  # Contar valores nulos por columna
print(df.dropna(inplace=True))  # Eliminar filas con valores nulos
print(df.fillna("Desconocido", inplace=True))  # Rellenar valores nulos

Compañia                     0
Model Name                   0
Mobile Weight                0
RAM                          0
Front Camera                 0
Back Camera                  0
Processor                    0
Battery Capacity             0
Screen Size                  0
Launched Price (Pakistan)    0
Launched Price (India)       0
Launched Price (China)       0
Launched Price (USA)         0
Launched Price (Dubai)       0
Launched Year                0
dtype: int64
None
None

## Operaciones estadísticas

In [19]:
# df["Mobile Weight"] = df["Mobile Weight"].str[:-1] # Quitar el último valor de un string
df["Mobile Weight"] = df["Mobile Weight"].str.replace("g","")
df["Mobile Weight"] = df["Mobile Weight"].astype(float)  # Convertir string a float
df["Mobile Weight"].mean()  # Media
# df["Compañia"].nunique()  # Número de compañías únicas
# df["other_sales"].sum()   # Suma total
# df["Launched Price (India)"] = df["Launched Price (India)"].str.replace(",", "").str.replace("INR", "").astype(int)
# df["Launched Price(India)"].min()   # Mínimo
# df["critic_score"].max()   # Máximo
# df["pal_sales"].std()   # Desviación estándar

np.float64(228.3255113024758)

## Agrupación de datos

In [37]:
# print(df.groupby("Battery Capacity")[["Model Name", "Mobile Weight"]].max())  # Agrupar por tamaño de pantalla y contar el número de entradas en cada grupo
df.groupby("Screen Size").count()

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year
Screen Size,,,,,,,,,,,,,,
10.1 inches,7,7,7,7,7,7,7,7,7,7,7,7,7,7
10.2 inches,2,2,2,2,2,2,2,2,2,2,2,2,2,2
10.4 inches,10,10,10,10,10,10,10,10,10,10,10,10,10,10
10.5 inches,3,3,3,3,3,3,3,3,3,3,3,3,3,3
10.9 inches,4,4,4,4,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7.93 inches,1,1,1,1,1,1,1,1,1,1,1,1,1,1
8 inches,3,3,3,3,3,3,3,3,3,3,3,3,3,3
8.0 inches (unfolded),1,1,1,1,1,1,1,1,1,1,1,1,1,1
8.7 inches,4,4,4,4,4,4,4,4,4,4,4,4,4,4
9.7 inches,5,5,5,5,5,5,5,5,5,5,5,5,5,5

## Ordenar valores

In [32]:
# df["Launched Price (USA)"] = df["Launched Price (USA)"].str.replace("USD", "").str.replace(",", "").str.replace(" ", "").astype(float) 
# df = pd.DataFrame(data)  # Resetear la data de df
df = pd.read_csv("Mobiles_Dataset_(2025).csv", encoding="unicode_escape")
df["Launched Price (USA)"] = pd.to_numeric(df["Launched Price (USA)"].str.replace("USD", "").str.replace(" ", "").str.replace(",", ""))
# print(df.keys)
df.sort_values(by="Launched Price (USA)", ascending=False, inplace=True)  # Ordenar por precio
df[["Company Name", "Model Name", "Launched Price (USA)", "Launched Year"]].head(10)  # Mostrar las 10 más caras

    Company Name             Model Name  Launched Price (USA)  Launched Year
661       Huawei          Mate XT 512GB                2799.0           2024
630       Huawei                Mate X2                2699.0           2021
660       Huawei          Mate XT 256GB                2599.0           2024
657       Huawei                Mate X6                2499.0           2024
634       Huawei              Mate Xs 2                2499.0           2022
643       Huawei                Mate X3                2499.0           2023
929      Samsung     Galaxy Z Fold6 1TB                2259.0           2024
858        Honor               Magic V2                1899.0           2024
120      Samsung  Galaxy Z Fold 4 512GB                1899.0           2022
869        Honor               Magic V3                1899.0           2024

# Inferencias de la data

1. Los celulares mas caros de cada año no son los de Apple
2. El peso promedio de los celulares es de 228.32
3. Entre más batería tiene un dispositivo móvil, más pesa.
4. 6 de los 10 celulares más caros en Estados Unidos fueron lanzados en 2024
5. Hay 97 tamaños de pantalla diferentes